<!DOCTYPE html> 
<!this is a comment>
<!If you want to use a variable use {{variable}}>
  
<html> 
<head>
    <title>Spotify App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <div class="header">
        <h1>Spotify</h1>
    </div>
    
    <div class="spotify_logo">
        <i class="fa fa-spotify fa-5x"></i>
    </div>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"type="text/css" />
</head> 
<body>
    <h2>{{song_name}}</h2>
    <h2>by {{artist_name}}</h2>
    <img src="{{image_url}}"/><br>
    
    <div class="songPreview">
        {% if song_preview_url == None %}
            <h2>No preview available for this song.</h2>
        {% else %}
            <a class="song_link" href="{{song_preview_url}}">Preview this song if available!</a><br>
            <audio controls>
            <br><source src="{{song_preview_url}}">Audio tag not supported</audio>
            </audio><br>
        {% endif %}
    </div>
    
    <div class="songLyrics">
        {% if song_lyrics_url == None %}
            <h2>No lyrics available for this song.</h2>
        {% else %}
            <div class="buttonClass">
            <a href="{{song_lyrics_url}}" target="_parent"><button>Click here to see the lyrics</button></a>
            </div>
        {% endif %}
    </div>
    
    <div class="footer">
      <p>Designed by Jhon Garcia.</p>
    </div>
</body>
</html>