<!DOCTYPE html> 
<!this is a comment>
  
<html> 
<head>
<div style="text-align:center;">
    <h1>Spotify</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"type="text/css" />
    <h2>{{artist_name}}</h2>
    <h2>{{song_name}}</h2>
    <img src="{{image_url}}"/><br>
    <a href="{{song_preview_url}}">Preview this song if available!<br></a>
    
    
    <audio controls>
    <source src="{{song_preview_url}}">Audio tag not supported</audio>
    </audio>
    
</div>
</head> 
<body> 
</body>
</html>
 
 